[Interface]
Address    = {{ wireguard_network | ipmath(ansible_play_hosts_all.index(inventory_hostname)) }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wireguard_port }}

{% for host in ansible_play_hosts_all %}
{%- if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host].wg_public_key }}
AllowedIPs = {{ hostvars[host].wg_ip_address }}
Endpoint = {{host}}:{{wireguard_port}}
PersistentKeepalive = 30

{% endif %}
{% endfor %}