[Interface]
Address    = {{ WG_NETWORK | ipmath(ansible_play_hosts_all.index(inventory_hostname)) }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ WG_PORT }}

{% for host in ansible_play_hosts_all %}
{%- if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host].wg_public_key }}
AllowedIPs = {{ hostvars[host].wg_ip_address }}
Endpoint = {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ WG_PORT }}
PersistentKeepalive = 30

{% endif %}
{% endfor %}